body{
	font-family: 'Lato', sans-serif;
	color:#2d3c49;
	font-weight:300;
}
	
hr{ 
  border-top: 3.5px solid #7d97ad; 
}
	
h4{
  font-weight:bold;

}

.text-muted{
			color:#7d97ad;
			font-weight:bold;

}

.text-thin{
			font-weight:100;
}

.title-super{
			font-size:60px;
}

.title-logo{
			margin-top:20px;
}